name: Maven Package

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 11
          - 17
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Install GPG secret key
      id: install-secret-key
      run:
        cat <(echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}") | gpg --batch --import

    - name: Create version name
      run: |
        if [ "${{ matrix.java }}" != "17" ]; then
          echo "VERSION_NAME=${{ github.event.release.tag_name }}-j${{ matrix.java }}" >> $GITHUB_ENV
        else
          echo "VERSION_NAME=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
        fi

    - name: Build and Release Artifact
      id: release-jar
      run: |
        cd flink-connector-snowflake && \
          mvn deploy -P docs-and-source,release \
            -Drevision=${{ env.VERSION_NAME }} \
            -U -B -ff -fae \
            -s $GITHUB_WORKSPACE/settings.xml \
            -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} \
            -f pom.xml
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_PASS }}
