name: Maven Package

on:
  release:
    types: [created]

env:
  # env vars for AWS CLI
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: 'us-east-2'
  BUILD_ENV: 's3-actions'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        server-id: apache.releases.https # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Configure Maven Settings
      id: configure-maven
      uses: DamianReeves/write-file-action@v1.2
      with:
        path: ${{ github.workspace }}/settings.xml
        contents: ${{ secrets.MVN_SETTINGS }}
        write-mode: overwrite

    - name: Build and Release Artifact
      id: release-jar
      run: mvn deploy -Drevision=${{ github.event.release.tag_name }} -U -B -ff -fae -s $GITHUB_WORKSPACE/settings.xml -f pom.xml

    - name: Slack Report Failure
      if: failure()
      # https://github.com/marketplace/actions/action-slack
      uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        author_name: ${{ github.workflow }}
        fields: repo,message,commit,author,job,workflow
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        MATRIX_CONTEXT: ${{ toJson(matrix) }}
