name: Maven Package (PR)

on:
  pull_request_target:
    types: ['opened', 'reopened', 'synchronize', 'ready_for_review']
    branches:
      - '**'
    paths:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 11
          - 17
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Create version name
      run: |
        if [ "${{ matrix.java-version }}" != "17" ]; then
          echo "VERSION_NAME=${{ github.event.pull_request.head.sha }}-${{ matrix.java-version }}" >> $GITHUB_ENV
        else
          echo "VERSION_NAME=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

    - name: Test and Build Artifact
      id: build
      run: |
        mvn package \
          -Drevision=${{ env.VERSION_NAME }} \
          -U -B -ff -fae \
          -f pom.xml
